<% service_job ||= @service_job %>

<% unless service_job.persisted? %>
  <% service_items = service_job.service_items.to_a %>
  <% service_job.default_services.each do |service_name, service_cost| %>
    <%=
      item = service_items.find { |service_item| service_item.description == service_name } || service_job.service_items.new(description: service_name)
      item.unit_cost_in_dollars ||= service_cost
      render partial: "admin/service_items/show", locals: { item: item }
    %>
  <% end %>
<% end %>

<template id="extra-jobs-template">
  <%= render partial: "admin/service_items/show" %>
</template>

<div class="extra-jobs">
  <% service_job.service_items.order(:position).each do |item| %>
    <%= render partial: "admin/service_items/show", locals: { item: item } %>
  <% end %>
</div>
