<% service_job ||= @service_job %>

<% service_job.default_service_item_names.each do |service_name| %>
  <% item = service_job.service_items.find_or_initialize_by(description: service_name) %>
  <%= render partial: "admin/service_items/show", locals: { item: item } %>
<% end %>

<template id="extra-jobs-template">
  <%= render partial: "admin/service_items/show" %>
</template>

<div class="extra-jobs">
  <% service_job.service_items.not_default.each do |item| %>
    <%= render partial: "admin/service_items/show", locals: { item: item } %>
  <% end %>
</div>
