<div class="inline-fields">
  <div class="form-field">
  </div>
  <div class="form-field small-field">
  </div>
  <div class="form-field" data-fa="">
  </div>
  <div class="form-field" data-fa="money">
    <%= text_field_tag "total", "--", readonly: true, id: "invoice-total" %>
  </div>
</div>
