$danger: #F6433D;
$grey-blue: #6481A1;
$grey-light: #ECF0F1;
$grey-disabled: #BDC3C7;
$grey-dark: #34495E;

$text-color: darken($grey-blue, 20%);

$flash-notice-bg: #009DB2;
$flash-alert-bg: #B21500;

$parsley-error-color: #FFD7DC;
$error-red: red;
//
// $dpl-purple: #8168B1;
// $facebook-blue: #3B5998;
// $github-black: black;

$zindex: (
  flash: 1000
);

// map-get($pri, l1)
$pri: (
  l21: #FFFFFF,
  l20: #F7FAF4,
  l19: #EFF5E9,
  l18: #E7F0DE,
  l17: #E0EBD4,
  l16: #D8E6C9,
  l15: #D0E1BE,
  l14: #C8DCB3,
  l13: #C0D7A8,
  l12: #B8D29D,
  l11: #B0CD92,
  l10: #A9C988,
  l9:  #A1C47D,
  l8:  #99BF72,
  l7:  #91BA67,
  l6:  #89B55C,
  l5:  #81B051,
  l4:  #79AB46,
  l3:  #72A63C,
  l2:  #6AA131,
  l1:  #629C26,
  base:#5A971B,
  d1:  #56901A,
  d2:  #518918,
  d3:  #4D8117,
  d4:  #497A16,
  d5:  #457315,
  d6:  #406C13,
  d7:  #3C6512,
  d8:  #385D11,
  d9:  #33560F,
  d10: #2F4F0E,
  d11: #2B480D,
  d12: #27410C,
  d13: #223A0A,
  d14: #1E3209,
  d15: #1A2B08,
  d16: #152406,
  d17: #111D05,
  d18: #0D1604,
  d19: #090E03,
  d20: #040701,
  d21: #000000
)
