$grass-green: #507445;
// $danger: #F6433D;
// $grey-blue: #6481A1;
// $grey-light: #ECF0F1;
// $grey-disabled: #BDC3C7;
// $grey-dark: #34495E;
//
// $text-color: darken($grey-blue, 20%);

$flash-notice-bg: #009DB2;
$flash-alert-bg: #B21500;
//
// $dpl-purple: #8168B1;
// $facebook-blue: #3B5998;
// $github-black: black;
