<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Rich Lawns</div>
    <div class="content">
      <div class="cell">
        <p>Sign up here to view your service records. You can also manage your lawn service and set up automatic payments.</p>
      </div>
    </div>
    <div class="content">
      <p>Please reach out if you need to sign up</p>
    </div>
  </div>
</div>
