.ctr-static.act-home {
  margin: 0;
  background: map-get($pri, base);
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;

  font-family: 'CodenameCoder-Bold', monospace;

  .homepage-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;

    .homepage-container {
      margin-bottom: 100px;
      text-align: center;

      h1 {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 64px;

        text-transform: uppercase;
      }
      .homepage-btns {
        padding-top: 10px;

        .btn {
          box-shadow: inset 0px 1px 0px 0px lighten(orange, 15%);
          border: 1px solid lighten(orange, 15%);
          background: linear-gradient(to bottom, orange 25%, darken(orange, 10%) 100%);
          background-color: orange;

          &:hover {
            cursor: pointer;
            background: linear-gradient(to bottom, darken(orange, 10%) 5%, orange 100%);
            background-color: darken(orange, 50%);
          }
        }
      }
    }
  }

  #full-page-wrapper {
    width: 100%;
    height: 100%;
  }
}
