<% if resource.errors.any? %>
  <div class="error-container" id="error_explanation">
    <h4>Failed to save your account:</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
