<div id="full-page-wrapper">
  <div class="homepage-wrapper">
    <div class="homepage-container">
      <h1>Rich Lawn's</h1>
      <p>Lawn Care Specialists</p>
      <div class="homepage-btns">
        <a href="<%=  %>" class="flask"><span></span></a>
        <a href="" target="_blank" class="github"><span></span></a>
        <a href="" target="_blank" class="facebook"><span></span></a>
      </div>
    </div>
  </div>
</div>
