<div class="skinny-container">
  <div class="central-container">
    <div class="container-title">Account</div>
    <div class="content">
      <div class="cell">
        Billing Information
      </div>
      <a href="" class="cell">
        + Add Service Address
      </a>
    </div>
  </div>
</div>
